nav {
    padding: 10px 0px;
    width: 100%;
    height: fit-content;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 10;
}
nav .logo_burger {
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; }
    nav .logo_burger .wrap_logo {
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: center; }
      nav .logo_burger .wrap_logo #logo {
        width: 75px; }
    nav .logo_burger .wrap_burger {
      width: 10%;
      display: flex;
      align-items: center;
      justify-content: flex-end; }
      nav .logo_burger .wrap_burger #burger {
        width: 25px;
        fill: currentColor;
        color: #0400ff;
        cursor: pointer;
        opacity: 0; }
  nav .empty {
    width: 10%; }
  nav .wrap_link {
    width: 65%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; }
    nav .wrap_link a {
      padding: 3px 9px;
      font-size: 20px;
      font-weight: 600;
      text-decoration: none;
      color: #0400ff;
      border-radius: 6px; }
      nav .wrap_link a:hover {
        color: #f0f0f0;
        background-color: #0400ff;
        border-radius: 6px; }

@media (max-width: 1200px) {
  nav {
    flex-direction: column; }
    nav .logo_burger {
      padding: 0px 30px;
      width: 100%; }
      nav .logo_burger .wrap_logo {
        justify-content: flex-start; }
    nav .empty {
      display: none; }
    nav .wrap_link {
      padding: 10px 30px;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start; }
      nav .wrap_link a {
        margin: 5px 0px; } }